# {{  apb.description }} Documentation

<img  align="left" src="https://s3.amazonaws.com/awsservicebroker/icons/aws-service-broker.png" width="120"><img align="right" src="{{  apb.metadata.imageUrl }}" width="108"> <p align="center">{{ apb.metadata.longDescription }}
{{ apb.metadata.documentationUrl }}</p>

Table of contents
=================

* [Parameters](#parameters)
{% for plan in apb.plans %}  * [{{ plan.name }}](#param-{{ plan.name }})
{% endfor %}* [Bind Credentials](#bind-credentials)
{% if add_iam %}  * [IAM Policy](#iam-policy){% endif %}
* [Examples](#kubernetes-openshift-examples)
{% for plan in apb.plans %}  * [{{ plan.name }}](#example-{{ plan.name }})
{% endfor %}
<a id="parameters" />

# Parameters

{% for plan in apb.plans %}<a id="param-{{ plan.name }}" />

## {{ plan.name }}

{{ plan.metadata.longDescription }}

Pricing: {{ plan.metadata.cost }}

{% if lengths[plan.name].required > 0 %}### Required

At a minimum these parameters must be declared when provisioning an instance of this service

Name           | Description     | Accepted Values
-------------- | --------------- | ---------------
{% for param in plan.parameters %}{% if 'default' not in param.keys() and param.name not in ['aws_access_key', 'aws_secret_key', 'aws_cloudformation_role_arn', 'region', 'SBArtifactS3Bucket', 'SBArtifactS3KeyPrefix', 'VpcId'] %}{{ param.name }}|{{  param.description }}|{% if 'enum' in param.keys() %}{{ param.enum | join(', ') }}{% else %}{{ param.type }}{% endif %}
{% endif %}{% endfor %}{% endif %}
{% if lengths[plan.name].optional > 0 %}### Optional

These parameters can optionally be declared when provisioning

Name           | Description     | Default         | Accepted Values
-------------- | --------------- | --------------- | ---------------
{% for param in plan.parameters %}{% if 'default' in param.keys() and param.name not in ['aws_access_key', 'aws_secret_key', 'aws_cloudformation_role_arn', 'region', 'SBArtifactS3Bucket', 'SBArtifactS3KeyPrefix', 'VpcId'] %}{{ param.name }}|{{  param.description }}|{% if 'default' in param.keys() %}{{ param.default }}{% endif %}|{% if 'enum' in param.keys() %}{{ param.enum | join(', ') }}{% endif %}
{% endif %}{% endfor %}{% endif %}
{% if lengths[plan.name].generic > 0 %}### Generic

These parameters are required, but generic or require privileged access to the underlying AWS account, we recommend they are
configured with a broker secret, see getting started guides for [OpenShift](/docs/getting-started-openshift.md) or
[Kubernetes](/docs/getting-started-k8s.md) for details.

Name           | Description     | Default         | Accepted Values
-------------- | --------------- | --------------- | ---------------
{% for param in plan.parameters %}{% if param.name in ['aws_access_key', 'aws_secret_key', 'aws_cloudformation_role_arn', 'region', 'SBArtifactS3Bucket', 'SBArtifactS3KeyPrefix', 'VpcId'] %}{{ param.name }}|{{  param.description }}|{% if 'default' in param.keys() %}{{ param.default }}{% endif %}|{% if 'enum' in param.keys() %}{{ param.enum | join(', ') }}{% endif %}
{% endif %}{% endfor %}{% endif %}
{% if lengths[plan.name].prescribed > 0 %}### Prescribed

These are parameters that are prescribed by the plan and are not configurable, should adjusting any of these be required please choose a plan that makes them available.

Name           | Description     | Value
-------------- | --------------- | ---------------
{% for param in prescribed_params[plan.name] %}{% if param not in ["params_string", "params_hash"] %}{{ param }}|{{  template.Parameters[param].Description }}|{{ prescribed_params[plan.name][param] }}
{% endif %}{% endfor %}{% endif %}{% endfor %}<a id="bind-credentials" />

# Bind Credentials

These are the environment variables that are available to an application on bind.

Name           | Description
-------------- | ---------------
{% for output in bindings %}{{ output.name }}|{{ output.description }}
{% endfor %}
<a id="kubernetes-openshift-examples" />

{% if add_iam %}<a id="iam-policy" />

## IAM Policy

This ServiceInstance creates an IAM user and access keys for bound applications to use to authenticate to the AWS API's at runtime. The user has the following IAM policy attached:

```json
{{ iam_policy }}
```

{% endif %}# Kubernetes/Openshift Examples

***Note:*** Examples do not include generic parameters, if you have not setup defaults for these you will need to add
them as additional parameters

{% for plan in apb.plans %}<a id="example-{{ plan.name }}" />

## {{ plan.name }}

### Minimal
```yaml
apiVersion: servicecatalog.k8s.io/v1beta1
kind: ServiceInstance
metadata:
  name: {{ apb.name }}-{{ plan.name }}-minimal-example
spec:
  clusterServiceClassExternalName: dh-{{ apb.name }}
  clusterServicePlanExternalName: {{ plan.name }}
  parameters:
{% for param in plan.parameters %}{% if 'default' not in param.keys() and param.name not in ['aws_access_key', 'aws_secret_key', 'aws_cloudformation_role_arn', 'region', 'SBArtifactS3Bucket', 'SBArtifactS3KeyPrefix', 'VpcId'] %}    {{ param.name }}: [VALUE] # REQUIRED
{% endif %}{% endfor %}```

### Complete
```yaml
apiVersion: servicecatalog.k8s.io/v1beta1
kind: ServiceInstance
metadata:
  name: {{ apb.name }}-{{ plan.name }}-complete-example
spec:
  clusterServiceClassExternalName: dh-{{ apb.name }}
  clusterServicePlanExternalName: {{ plan.name }}
  parameters:
{% for param in plan.parameters %}{% if 'default' not in param.keys() and param.name not in ['aws_access_key', 'aws_secret_key', 'aws_cloudformation_role_arn', 'region', 'SBArtifactS3Bucket', 'SBArtifactS3KeyPrefix', 'VpcId'] %}    {{ param.name }}: [VALUE] # REQUIRED
{% endif %}{% endfor %}{% for param in plan.parameters %}{% if 'default' in param.keys() and param.name not in ['aws_access_key', 'aws_secret_key', 'aws_cloudformation_role_arn', 'region', 'SBArtifactS3Bucket', 'SBArtifactS3KeyPrefix', 'VpcId'] %}    {{ param.name }}: {{ param.default }} # OPTIONAL
{% endif %}{% endfor %}```
{% endfor %}
***NOTE: This documentation is auto-generated using available metadata in the ServiceClass and CloudFormation Template. Please do not PR changes to this file, if a change is needed, update the source metadata and ci will re-generate documentation on merge.***